<!doctype html>
<title>Money Project</title>
<head></head>
<body>
<h1>
    Welcome to the Patent Project Classification System
</h1>
</p>
 <form action="/query" method="POST">
    <p><input type=text name=abstract placeholder="Abstract" />
    <p><input type=submit value=Submit /></p>
</form>
{% if predication and object %}
<h2>Searching for <strong>{{ keyword }} + {{ predication }} + {{ object }}</strong></h2>
{% elif object %}
<h2>Searching for <strong>{{ keyword }} + {{ object }}</strong></h2>
{% elif predication %}
<h2>Searching for <strong>{{ keyword }} + {{ predication }}</strong></h2>
{% elif keyword %}
<h2>Searching for <strong>{{ keyword }}</strong></h2>
{% endif %}

{% if error %}
<p><font color="red">{{ error }}</font></p>
{% elif results %}
{{ results|safe }}
{% endif %}


</body>
</html>