<!doctype html>
<title>Money Project</title>
<head>
    <link href="{{ url_for('static', filename='css/style.scss.css') }}"
      rel="stylesheet" type="text/css">
</head>
<body>
<h1>
    Welcome to the Patent Project Classification System
</h1>

 <form action="/query" method="POST">
     <p><textarea type=text name=title placeholder="Title"></textarea></p>
     <p><textarea type=text name=abstract placeholder="Abstract"></textarea></p>
     <p><textarea type=text name=claims placeholder="Claims"></textarea></p>
    <p><input type=submit value=Submit /></p>
</form>

{% if title %}
<p>Title: {{ title }}</p>
<p>Group Number: {{ title_group }}</p>
{% endif %}

{% if abstract %}
<p>Abstract: {{ abstract }}</p>
<p>Group Number: {{ abstract_group }}</p>
{% endif %}

{% if claims %}
<p>Claims: {{ claims }}</p>
<p>Group Number: {{ claims_group }}</p>
{% endif %}

{% if error %}
<p><font color="red">{{ error }}</font></p>
{% endif %}


</body>
