<!doctype html>
<title>Money Project</title>
<head>
    <link href="{{ url_for('static', filename='css/style.scss.css') }}"
      rel="stylesheet" type="text/css">
</head>
<body>
<h1>
    Welcome to the Patent Project Classification System
</h1>

 <form action="/query" method="POST">
    <p><textarea type=text name=abstract placeholder="Abstract"></textarea></p>
    <p><input type=submit value=Submit /></p>
</form>

{% if abstract %}
<p>Abstract: {{ abstract }}</p>
{% endif %}

{% if error %}
<p><font color="red">{{ error }}</font></p>
{% elif group %}
<p>Group Number: {{ group|safe }}</p>
{% endif %}


</body>
</html>